---
import MainLayout from "../layouts/MainLayout.astro";

// Server side rendering

const name = 'Fernando Herrera Jimenez';
const title = 'Home page';

const currentDate = new Date();
---
<MainLayout title={title}>
  <h1>{name}</h1>
  <p>Momento actual: {currentDate.toLocaleTimeString()}</p>
  <p id="current-time">Momento actual real: </p>


  <script>
    // Client side rendering
    const currentTimeParagraph = document.getElementById('current-time') as HTMLParagraphElement;
    currentTimeParagraph.textContent = `Momento actual real: ${new Date().toLocaleTimeString()}`;
  </script>
</MainLayout>
